# Configuração de exemplo para variáveis de ambiente

DB_URL=jdbc:postgresql://localhost:5433/mastermind_db
DB_NAME=nome_do_db
DB_USER=usuario_do_db
DB_PASSWORD=senha_do_db

JWT_SECRET=sua_chave_secreta_jwt
JWT_EXPIRATION=tempo_de_expiracao_em_ms