# Variaveis de ambiente para execucao via Docker Compose
DB_NAME=mastermind_db
DB_USER=seu_usuario
DB_PASSWORD=sua_senha

JWT_SECRET=sua_chave_secreta_com_no_minimo_32_caracteres
JWT_EXPIRATION=3600000
